<div class="container">
    <div class="row mt-5">
            <div class="col-md-12 col-lg-7 col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner product-details-large tab-content">
                                <div class="carousel-item active" id="pro-details1" role="tabpanel">                                                                                
                                            <img class="d-block w-100" src="../../assets/img/product-details/l1.jpg" alt="">                                        
                                </div>
                                <div class="carousel-item" id="pro-details2" role="tabpanel">
                                   <img class="d-block w-100" src="../../assets/img/product-details/l2.jpg" alt="">       
                                </div>
                                <div class="carousel-item" id="pro-details3" role="tabpanel">
                                    <img class="d-block w-100" src="../../assets/img/product-details/l3.jpg" alt="">       
                                </div>
                                <div class="carousel-item" id="pro-details4" role="tabpanel">
                                    <img class="d-block w-100" src="../../assets/img/product-details/l4.jpg" alt="">                                          
                                </div>
                                
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                    </div>
                            <div class="product-details-small nav mt-3 mb-3" role=tablist>
                                <a class="active mr-3" href="#pro-details1" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../assets/img/product-details/s1.jpg" alt="">
                                </a>
                                <a class="mr-3" href="#pro-details2" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../assets/img/product-details/s2.jpg" alt="">
                                </a>
                                <a class="mr-3" href="#pro-details3" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../assets/img/product-details/s3.jpg" alt="">
                                </a>
                                <a href="#pro-details4" data-toggle="tab" role="tab" aria-selected="true">
                                    <img src="../../assets/img/product-details/s4.jpg" alt="">
                                </a>
                            </div>
                       
            </div>
           
            <div class="col-md-12 col-lg-5 col-12">
                    <div class="product-details">
                            <div class="pd-title">
                                <span>oranges</span>
                                <h3>Pure Pineapple</h3>
                                <a href="#" class="heart-icon"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(5)</span>
                            </div>
                            <div class="pd-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor
                                    sit amet, consectetur adipisicing elit, sed do mod tempor</p>
                                <h4>$495.00 <span>629.99</span></h4>
                            </div>
                            <div class="pd-color">
                                <h6>Color</h6>
                                <div class="pd-color-choose">
                                    <div class="cc-item">
                                        <input type="radio" id="cc-black">
                                        <label for="cc-black"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-yellow">
                                        <label for="cc-yellow" class="cc-yellow"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-violet">
                                        <label for="cc-violet" class="cc-violet"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-size-choose">
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">s</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="md-size">
                                    <label for="md-size">m</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="lg-size">
                                    <label for="lg-size">l</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="xl-size">
                                    <label for="xl-size">xs</label>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                        <span class="dec qtybtn">-</span>
                                    <input type="text" value="1">
                                    <span class="dec qtybtn">+</span>
                                </div>
                                <a href="#" class="primary-btn pd-cart">Add To Cart</a>
                            </div>
                            <ul class="pd-tags">
                                <li><span>CATEGORIES</span>: More Accessories, Wallets & Cases</li>
                                <li><span>TAGS</span>: Clothing, T-shirt, Woman</li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Sku : 00012</div>
                                <div class="pd-social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
            </div>
           
    </div>
    <div class="row mt-5 mb-2">
            <div class="product-description-review text-center">
                    <div class="description-review-title nav" role=tablist>
                        <a class="active" href="#pro-dec" data-toggle="tab" role="tab" aria-selected="true">
                            Description
                        </a>
                        <a href="#pro-review" data-toggle="tab" role="tab" aria-selected="false">
                            Reviews (0)
                        </a>
                    </div>
                    <div class="description-review-text tab-content">
                        <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                        </div>
                        <div class="tab-pane fade" id="pro-review" role="tabpanel">
                            <!-- <a href="#">Be the first to write your review!</a> -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                        </div>
                    </div>
                </div>
          
    </div>
    
</div>
<!-- Related Products Section End -->

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12">
                <div class="title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/women-1.jpg" alt="">
                        <div class="sale">Sale</div>
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $14.00
                            <span>$35.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/women-2.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Guangzhou sweater</h5>
                        </a>
                        <div class="product-price">
                            $13.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/women-3.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/women-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Converse Shoes</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Related Products Section End -->

