
     

    <div class="product-show-option">
        <div class="row">
            <div class="col-lg-7 col-md-7">
               
                <div class="row">
                    <div class="col-md-5">
                            <select class="form-control">
                                    <option value="">Default Sorting</option>
                                </select>
                    </div>
                    <div class="col-md-4">
                            <select class="form-control">
                                    <option value="">Show:</option>
                                </select> 
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-5 text-right">
                <p>Show 01- 09 Of 36 Product</p>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img class="pic-1" src="../../../assets/images/s1.jpg" alt="" height="50%" width="50%">
                        <img class="pic-2" src="../../../assets/images/s2.jpg" alt="" height="50%" width="50%">
                        <div class="sale pp-sale">Sale</div>
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Top Wear</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $14.00
                            <span>$35.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-2.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Guangzhou sweater</h5>
                        </a>
                        <div class="product-price">
                            $13.00
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-3.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Guangzhou sweater</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Microfiber Wool Scarf</h5>
                        </a>
                        <div class="product-price">
                            $64.00
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-5.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Men's Painted Hat</h5>
                        </a>
                        <div class="product-price">
                            $44.00
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-6.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Converse Shoes</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-7.jpg" alt="">
                        <div class="sale pp-sale">Sale</div>
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $64.00
                            <span>$35.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-8.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>2 Layer Windbreaker</h5>
                        </a>
                        <div class="product-price">
                            $44.00
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./assets/img/products/product-9.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Converse Shoes</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


   
